{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard sale</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Bosh sahifa</a></li>
                            <li class="breadcrumb-item">Qaytarilgan mahsulotlar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ basic-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Qaytarilgan mahsulotlar</h5>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Mahsulot nomi</th>
                                        <th>Mahsulot turi</th>
                                        <th>Mahsulot miqdori</th>
                                        <th>Qaytarilgan summa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for return in return_products %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ return.outery.product.name }}</td>
                                        <td>{{ return.outery.product.category.name }}</td>
                                        <td>{{ return.quantity }}</td>
                                        <td>{{ return.outery.product.price }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ basic-table ] end -->

        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}

